<script type="text/javascript">
    $( document ).ready(function() {
        $('.cep').mask('99999-999', {reverse: true, completed: function () { 
            var url = '/get_address?cep=' + $(this).val()
            $.get( url, function( data ) {
                $('#cep_text').html(data);
            })
        }});  

        $('#quotation_use_go_work_true').click(function() {
            $( "#quotation_has_work_park_true" ).prop( "disabled", false );
            $( "#quotation_has_work_park_true" ).removeClass( "disabled" );
            
            $( "#quotation_has_work_park_false" ).prop( "disabled", false );
            $( "#quotation_has_work_park_false" ).removeClass( "disabled" );

            $( "#quotation_has_work_remote_control_true" ).prop( "disabled", false );
            $( "#quotation_has_work_remote_control_true" ).removeClass( "disabled" );
            
            $( "#quotation_has_work_remote_control_false" ).prop( "disabled", false );
            $( "#quotation_has_work_remote_control_false" ).removeClass( "disabled" );

            $( "#quotation_use_commercial_true" ).prop( "disabled", false );
            $( "#quotation_use_commercial_true" ).removeClass( "disabled" );
            
            $( "#quotation_use_commercial_false" ).prop( "disabled", false );
            $( "#quotation_use_commercial_false" ).removeClass( "disabled" );
        });

        $('#quotation_use_go_work_false').click(function() {
            $( "#quotation_has_work_park_true" ).prop( "checked", false );
            $( "#quotation_has_work_park_true" ).prop( "disabled", true );
            $( "#quotation_has_work_park_true" ).addClass( "disabled" );
            
            $( "#quotation_has_work_park_false" ).prop( "checked", true );
            $( "#quotation_has_work_park_false" ).prop( "disabled", true );
            $( "#quotation_has_work_park_false" ).addClass( "disabled" );
            
            $( "#quotation_has_work_remote_control_true" ).prop( "checked", false );
            $( "#quotation_has_work_remote_control_true" ).prop( "disabled", true );
            $( "#quotation_has_work_remote_control_true" ).addClass( "disabled" );
            
            $( "#quotation_has_work_remote_control_false" ).prop( "checked", true );
            $( "#quotation_has_work_remote_control_false" ).prop( "disabled", true );
            $( "#quotation_has_work_remote_control_false" ).addClass( "disabled" );

            $( "#quotation_use_commercial_true" ).prop( "checked", false );
            $( "#quotation_use_commercial_true" ).prop( "disabled", true );
            $( "#quotation_use_commercial_true" ).addClass( "disabled" );
            
            $( "#quotation_use_commercial_false" ).prop( "checked", true );
            $( "#quotation_use_commercial_false" ).prop( "disabled", true );
            $( "#quotation_use_commercial_false" ).addClass( "disabled" ); 
        });

        $('#quotation_use_go_study_true').click(function() {
            $( "#quotation_has_study_park_true" ).prop( "disabled", false );
            $( "#quotation_has_study_park_true" ).removeClass( "disabled" );
            
            $( "#quotation_has_study_park_false" ).prop( "disabled", false );
            $( "#quotation_has_study_park_false" ).removeClass( "disabled" );

            $( "#quotation_has_study_remote_control_true" ).prop( "disabled", false );
            $( "#quotation_has_study_remote_control_true" ).removeClass( "disabled" );
            
            $( "#quotation_has_study_remote_control_false" ).prop( "disabled", false );
            $( "#quotation_has_study_remote_control_false" ).removeClass( "disabled" );

        });

        $('#quotation_use_go_study_false').click(function() {
            $( "#quotation_has_study_park_true" ).prop( "checked", false );
            $( "#quotation_has_study_park_true" ).prop( "disabled", true );
            $( "#quotation_has_work_park_true" ).addClass( "disabled" );
            
            $( "#quotation_has_study_park_false" ).prop( "checked", true );
            $( "#quotation_has_study_park_false" ).prop( "disabled", true );
            $( "#quotation_has_study_park_false" ).addClass( "disabled" );
            
            $( "#quotation_has_study_remote_control_true" ).prop( "checked", false );
            $( "#quotation_has_study_remote_control_true" ).prop( "disabled", true );
            $( "#quotation_has_study_remote_control_true" ).addClass( "disabled" );
            
            $( "#quotation_has_study_remote_control_false" ).prop( "checked", true );
            $( "#quotation_has_study_remote_control_false" ).prop( "disabled", true );
            $( "#quotation_has_study_remote_control_false" ).addClass( "disabled" );

        });
    });    

</script>
<div id="use_vehicle" class="content-section-b">
    <div class="container">

      <div class="col-md-10 col-md-offset-1">
        <div class="row bs-wizard" style="border-bottom:0;">
          
            <div class="col-xs-2 bs-wizard-step complete">
              <div class="text-center bs-wizard-stepnum">1</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Dados básicos</div>
            </div>
            
            <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">2</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Sobre o veículo</div>
            </div>
            
            <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">3</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Uso do veículo</div>
            </div>
            
            <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
              <div class="text-center bs-wizard-stepnum">4</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Condutor principal</div>
            </div>

            <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
              <div class="text-center bs-wizard-stepnum">5</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Segurado</div>
            </div>

            <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
              <div class="text-center bs-wizard-stepnum">6</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Proprietário</div>
            </div>
        </div>

        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Uso do veículo</h2>
      </div>
        <%= simple_form_for(@quotation, url: wizard_path,  html: { class: 'form-horizontal' }) do |f| %>
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <%= f.input :has_house_park, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :has_house_remote_control, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                </div>
                <div class="well">
                    <%= f.input :use_go_work, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :has_work_park, disabled: true, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :has_work_remote_control, disabled: true, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :use_commercial, disabled: true, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                </div>
                <div class="well">
                    <%= f.input :use_go_study, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :has_study_park, disabled: true, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                    <%= f.input :has_study_remote_control, disabled: true, as: :radio_buttons, :collection => [[t("buttons.sim"),true], [t("buttons.nao"),false]] %>
                </div>
                <div class="well">
                    <%= f.input :cep_night, :as => :string, input_html: { class: :cep } %>
                    <span id="cep_text" class="help-block"></span> 
                    <%= f.input :km_daily %>
                </div>
                <div class="well col-xs-12">
                    <%= f.button :submit, t("buttons.continue"), :class => "btn btn-primary pull-right" %>
                </div>
            </div>
            
        <% end %>
    </div>
</div>