<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AK Seguros</title>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<body>

    
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h3 class="subtitle">Protegendo tudo que mais importa para você</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <%= link_to new_quotation_path, :class => "btn btn-default btn-quotation btn-lg" do %>
                                    <i class="fa fa-twitter fa-fw"></i> <span class="network-name">SOLICITE UM ORÇAMENTO</span>
                                <% end %>    
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<div id="auto" class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Automóvel</h2>
                    <p align="justify" class="lead">O seguro de automóveis é a opção ideal para quem não quer se preocupar com os prejuízos diante das inconvenientes situações das quais estamos expostos todos os dias. Para se prevenir, peça já sua cotação que indicaremos as melhores opções com as melhores condições. Não se preocupe, pois nós protegemos tudo que mais importa para você.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("auto.jpg", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div id="residencial"  class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Residencial</h2>
                    <p align="justify" class="lead">Conte com o conforto de ter seu lar sempre protegido, contratando um seguro residencial. Além da proteção, existem opções de assistências adicionais que lhe proporcionarão ainda mais comodidade, na cidade, na praia ou no campo. Nós te ajudamos com as melhores opções de cobertura para que você e sua família desfrutem o tempo livre com o que mais importa para vocês.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("residencial.jpg", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div id="empresarial" class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Empresarial</h2>
                    <p align="justify" class="lead">Não deixe que a preocupação com os bens de sua empresa tire seu sono e prejudique seus negócios. O seguro empresarial protege imóveis, móveis e equipamentos e, conta com coberturas adicionais que se encaixam perfeitamente para a empresa e para seu bolso. Entre em contato que buscaremos a melhor opção para que invista seu tempo no negócio que realmente importa para você.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("empresarial.jpg", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div id="nautico" class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Náutico</h2>
                    <p align="justify" class="lead">Um seguro para quem procura proteção à altura do seu conforto, o seguro náutico protege sua embarcação para que seu momento de lazer seja completamente tranqüilo. Conta com diversas coberturas adicionais para se adequar ao seu uso e caber perfeitamente no seu orçamento. Contate-nos e apresentaremos as melhores opções do mercado.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("nautico.jpg", :class => "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

	<div id="contact" class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2>Dúvidas? Fale conosco.</h2>
                </div>
                <div class="col-lg-6">
                    <%= simple_form_for(@question,  html: { class: 'question form-horizontal' }) do |f| %>
                      <%= f.input :name %>
                      <%= f.input :email %>
                      <%= f.input :phone %>
                      <%= f.input :message %>
                      <%= f.button :submit, 'Enviar', class: 'btn btn-primary pull-right' %>
                    <% end %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div id="seguradoras" class="content-section-b">

        <div class="container">
            <div class="visible-lg visible-md">
                <div class="row">
                
                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("allianz.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("azul.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("bradesco.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("hdi-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("Itau.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("liberty-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("mapfre-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("portoseguro.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("Sompo.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("sulamerica.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("tokio.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-1 col-md-1">
                        <%= image_tag("yasuda.png", :class => "img-responsive") %>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 visible-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <%= image_tag("allianz.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("azul.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("bradesco.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("hdi-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("Itau.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("liberty-seguros.png", :class => "img-responsive") %>
                    </div>                    
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">
                        <%= image_tag("mapfre-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("portoseguro.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("Sompo.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("sulamerica.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("tokio.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-sm-2">
                        <%= image_tag("yasuda.png", :class => "img-responsive") %>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 visible-xs">
                <div class="row">
                    <div class="col-xs-3">
                        <%= image_tag("allianz.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("azul.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("bradesco.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("hdi-seguros.png", :class => "img-responsive") %>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-3">
                        <%= image_tag("Itau.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("liberty-seguros.png", :class => "img-responsive") %>
                    </div>                    

                    <div class="col-xs-3">
                        <%= image_tag("mapfre-seguros.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("portoseguro.png", :class => "img-responsive") %>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-3">
                        <%= image_tag("Sompo.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("sulamerica.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("tokio.png", :class => "img-responsive") %>
                    </div>

                    <div class="col-xs-3">
                        <%= image_tag("yasuda.png", :class => "img-responsive") %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>

</body>

</html>
